{% extends "todolist/base.html" %}
{% block content %}
  <h1>Time to complete your tasks!</h1>
  <form action="" method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-8">{{ form.description }}</div>
    </div>
    <div class="row">
      <div class="col-md-8"><input class="btn btn-success" type="submit" name="Create task" value="Add"><hr></div>
    </div>
  </form>

  <form>
    <div class="row">
      <div class="col-md-8"><select name="filter" id="filter">
        <option value="completed">Show completed tasks</option>
        <option value="not_completed">Show incomplete tasks</option>
        <option value="False">Show all tasks</option>
      </select>
      </div>
      <div class="col-md-8">
      <input type="submit" value="Filter" class="btn btn-success">
      <hr></div>
    </div>
  </form>

  {% if tasks %}
    {% for task in tasks %}
  <div class="row">
    <div class="col-md-8">
      <div class="{% if task.status == False %}alert alert-danger{% else %}alert alert-success{% endif %}" role="alert">{{ task }}</div>
    </div>
    <div class="col-md-4">
      <a href="{% url 'todolist:update' task.id %}" class="btn btn-primary btn-lg inactive" role="button" aria-pressed="true">Update</a>
      <a href="{% url 'todolist:delete' task.id %}" class="btn btn-secondary btn-lg inactive" class="font-weight-bold" role="button" aria-pressed="true">Delete</a>
    </div>
  </div>
    {% endfor %}
  {% else %}
    <p>No tasks to show.</p>
  {% endif %}

  {% endblock %}
