<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To do list</title>
  </head>
  <body>
    <h1>Time to complete your tasks!</h1>
    <p>Overall tasks:<strong>{{ task_count }}</strong></p>
    <form action="../todolist/" method="POST">
      {% csrf_token %}
      {{ form.description }}
      <input type="submit" name="Create task" value="Add">
    </form>
    {% for task in tasks %}
    <div>
    <p>{{ task }}</p>
    </div>
    {% endfor %}
  </body>
</html>
