<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To do list</title>
  </head>
  <body>
    <h1>Time to complete your tasks!</h1>
    <h3>Overall tasks: <strong>{{ tasks_count }}</strong></h4>
    <form action="" method="POST">
      {% csrf_token %}
      {{ form.description }}
      <input type="submit" name="Create task" value="Add">
    </form>
    {% for task in tasks %}
    <div>
    <p>{{ task }} </p>
    <a href="{% url 'todolist:update' task.id %}">Update</a>
    </div>
    {% endfor %}
  </body>
</html>
