{% extends "todolist/base.html" %}
{% block content %}
    <h3>Update task</h3>
      <form action="" method="POST">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-8">{{ form.description }}</div>
          <div class="col-md-4">Check if completed:{{ form.status }}</div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <input type="submit" name="Update task" value="Update" class="btn btn-success">
          </div>
          <div class="col-md-4">
        <a href="{% url 'todolist:index' %}" class="btn btn-primary btn-md inactive" role="button" aria-pressed="true">Go back</a>
        </div>
        </div>
      </form>
{% endblock %}
